<div class="heading-label d-flex flex-center">
  <h3 class="m-0">Mailbox</h3>
</div>
<div class="pt-3 pb-3 d-flex justify-content-center">
  <button mdbBtn class="rounded" type="button" gradient="purple" rounded="true" mdbWavesEffect>New thread</button>
</div>
<div class="nav flex-column nav-pills p-0 m-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link font-weight-bold active d-flex justify-content-between align-items-center" id="v-pills-inbox-tab"
     data-toggle="pill" href="#v-pills-inbox" role="tab" aria-controls="v-pills-inbox" aria-selected="true">
    <span>Inbox</span>
    <mdb-icon fas icon="inbox" aria-hidden="true"></mdb-icon>
  </a>
  <a class="nav-link font-weight-bold d-flex justify-content-between align-items-center" id="v-pills-profile-sent"
     data-toggle="pill" href="#v-pills-sent" role="tab" aria-controls="v-pills-sent" aria-selected="false">
    <span>Sent</span>
    <mdb-icon fas icon="check-circle" aria-hidden="true"></mdb-icon>
  </a>
  <a class="nav-link font-weight-bold d-flex justify-content-between align-items-center" id="v-pills-archived-tab"
     data-toggle="pill" href="#v-pills-archived" role="tab" aria-controls="v-pills-archived" aria-selected="false">
    <span>Archived</span>
    <mdb-icon fas icon="archive" aria-hidden="true"></mdb-icon>
  </a>
  <a class="nav-link font-weight-bold d-flex justify-content-between align-items-center" id="v-pills-starred-tab"
     data-toggle="pill" href="#v-pills-starred" role="tab" aria-controls="v-pills-starred" aria-selected="false">
    <span>Starred</span>
    <mdb-icon fas icon="star" aria-hidden="true"></mdb-icon>
  </a>
</div>
